body {
    background-color: white;
    margin: 0;
}

h1,
h2,
p,
ul,
li {
    font-family: sans-serif;
}

.header, li{
    height: 0px;
    list-style-type: none;
}


ul a {
    position: fixed;
    display: normal;
    left: -10vw;
    transition: 0.3s;
    padding: 15px;
    width: 13vw;
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    color: white;
    border-radius: 0 5px 5px 0;
}

ul a:hover {
    left: 0;
    text-align: center;
}

.row{
    margin: 4em 0;
}
.home {
    top:60px;
    background-color: #4CAF50
}

.stuff {
    top: 120px;
    background-color: #2196F3;
}

.contact {
    top: 180px;
    background-color: #f44336;
}

.active {
    background-color: #555;
    left: 0;
    text-align: center;
}

.splash{
    background-color: grey;
    height: 70vh;
    /* The image used */
    background-image: url(../src/images/main-back.jpg);


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash h1, p{
    margin-top: 0px;
    color:white;
    padding-left: 5vw;
}

.splashText{
    padding-top:40vh;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}



.homeTitle{
    text-align: center;
}

.homeContent p{
    color:black;
}

.homeContent{
    display:flex;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-wrap: wrap;
    justify-content: space-around;
}

.homeBody{
    width: 800px;
}



table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #555;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #555;
  color: white;
}


